.btn {
    width: 30px;
    height: 30px;
    background: white;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 19px;
}
.modalBtn {
    width: 100px;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}
.greenBtn {
    background: green;
    color: #fff;
}
.redBtn {
    background: red;
    color: #fff;
}

